.signInLabel {
  margin-bottom: 51px;
  text-align: center;
}

.emailField {
  margin: 27px 0 24px;
}

.formQuestion {
  margin: 20px 0 7px;
  color: var(--color-light-900);
  text-align: center;
}

.tryLogLink {
  display: flex;
  justify-content: center;
  color: var(--color-accent-500);

  &:visited {
    color: var(--color-accent-700);
  }
}

.enterEmail {
  margin-top: 20px;
  margin-bottom: 65px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.forgotPasswordWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
